@import 'font-awesome';

$simplu-primary: #109df7;

$simplu-background: $simplu-primary;
$simplu-color: white;
$simplu-border: $simplu-primary;

// Code colors
$plugin: $simplu-primary;
$tag: #f92672;
$class: #a6e22e;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Courier New';
	font-size: 16px;
	line-height: 1.8;
	background: #222222;
	color: white;
	user-select: none; // TODO Нужно только в режиме редактирования
}

.tag {
	color: var(--simplu-tag, #{$tag});
}

.class {
	color: var(--simplu-class, #{$class});
}

.plugin {
	color: var(--simplu-plugin, #{$plugin});
}

.simplu-menu {
	position: fixed;
	top: 15px;
	left: 15px;
	padding: 10px;
	background: #000000;
	color: #ffffff;
}

.simplu-option {
	display: flex;

	&:hover {
		color: var( --simplu-primary, #{$simplu-primary} )
	}

	& > * {
		vertical-align: middle;
	}

	* + & {
		margin-top: 10px;
	}
}

.simplu-label,
.simplu-checkbox {
	transition: color .15s;

	&:hover {
		cursor: pointer;
	}
}


.simplu-label {
	padding-left: 10px;
	line-height: 16px;
}

.simplu-checkbox {
	-webkit-appearance: none;
	-moz-appearance: none;

	position: relative;
	display: inline-block;
	width: 16px;
	height: 16px;
	border: 2px solid;
	outline: none;
	background: transparent;
	color: inherit;

	&::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate( -50%, -50% );
		display: block;
		width: 0;
		height: 0;
		transition: width .2s cubic-bezier(0,0,0,1), height .2s cubic-bezier(1,0,1,0);
		background-color: currentColor;
	}

	&:checked {
		&::before {
			width: 8px;
			height: 8px;
			transition: width .2s cubic-bezier(0,0,0,2), height .2s cubic-bezier(1,0,.4,1.75);
		}
	}

	&:disabled {
		color: #555;
		cursor: not-allowed;

		& + .simplu-label {
			color: #555;
			cursor: not-allowed;
		}
	}
}

.simplu-debug {
	position: fixed;
	bottom: 15px;
	left: 15px;
	padding: 10px;
	background: black;
	color: var(--simplu-color, #{$simplu-color});
}

.simplu-frame {
	position: fixed;
	display: none;
	border: 1px dashed var(--simplu-border, #{$simplu-border});
	pointer-events: none;
	user-select: none;
}

.simplu-panel {
	position: absolute;
	bottom: 100%;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: monospace;
	font-size: 12px;
	line-height: 1;
	vertical-align: middle;
	white-space: nowrap;
	pointer-events: auto;
	background: var(--simplu-background, #{$simplu-background});
	color: var(--simplu-color, #{$simplu-color});

	> * {
		padding: 3px;
	}
}

.simplu-title {
	padding: 3px 7px;
}

.simplu-button {
	background: none;
	border: none;
	color: inherit;
	font-size: 14px;
	font-weight: 400;
	transition: .1s;
	outline: none;

	&:hover {
		cursor: pointer;
		background: white;
		color: black;
	}
}


.page {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	min-height: 99vh;
}

.section {
	padding: 50px;
}

.widgets {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	border: 3px solid;
	border-radius: 20px;
	padding: 10px;
}

.widget {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 50px;
	height: 50px;
	border: 3px solid;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
	font-size: 20px;
	font-weight: 700;
	transition: .15s;
	color: red;

	&.blue {
		color: #5270e6;
	}

	&.active {
		color: green;
	}

	&:hover {
		color: orange;
		cursor: pointer;
	}
}

.progress {
	position: relative;
	padding: 10px;
}

.progress-circle {
	display: block;
	border-radius: 50%;
	fill: orange;

	.bg {
		fill: rgba(black,.3);
	}
}

.progress-counter {
	position: absolute;
	top: 10px;
	bottom: 10px;
	left: 10px;
	right: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 40px;
	font-weight: 700;
}
